body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h2{
  text-align: center;
  margin: 5px;
  font-size: 40px;
 
}

h4{
  margin: 0px;
  text-align: center;
  font-size: 25px;
  font-weight: 100;

}

.bg-img{
  width: 800px;
  height: 100%;
  background-image: url("/images/jesus_lar_of.jfif");
  background-repeat: none;
  background-size: cover;
  position: absolute;
  margin-left: auto;
  margin-right: auto; 
  left: 0;
  right: 0;
  opacity: 0.2;
}
.container{
  width: 800px;
  height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto; 
  left: 0;
  right: 0;
  margin-top: 5px;

}


.div-texto{
  height: 90%;
  width: 90%;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 5px;
  font-size: 24px;
  text-align: justify;
}

.italic{
  font-style: italic;
}

.bibliografia{
  font-size: 18px;
  margin-top: 15px;
}

p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 520;
  
}

.logo{
  width: 80px;
}

.soul{
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.soul-texto{
  text-align: center;
  font-size: 15px;
  padding-top: 2px;
  margin-top: 2px;
}
